<h1>Listas de actividades</h1> 
 <% if user_signed_in? %>
<p> <%= link_to "cerrar sesion", destroy_user_session_path, method: :delete %></p>
<%end%>
<h1 class="field">Bienvenido (a) <%= current_user.name %></h1>
<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Area</th>
      <th>Team</th>
      <th>Startdate</th>
      <th>Week</th>
      <th>Shift</th>
      <th>Month</th>
      <th>Year</th>
      <th>Supervisor</th>
      <th>Summaty</th>
      <th>Category</th>
      <th>Activity</th>
      <th>Hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.code %></td>
        <td><%= activity.area %></td>
        <td><%= activity.team %></td>
        <td><%= activity.startdate %></td>
        <td><%= activity.week %></td>
        <td><%= activity.shift %></td>
        <td><%= activity.month %></td>
        <td><%= activity.year %></td>
        <td><%= activity.supervisor %></td>
        <td><%= activity.summaty %></td>
        <td><%= activity.category %></td>
        <td><%= activity.activity %></td>
        <td><%= activity.hours %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
