<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @activity.code %>
</p>

<p>
  <strong>Area:</strong>
  <%= @activity.area %>
</p>

<p>
  <strong>Team:</strong>
  <%= @activity.team %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @activity.startdate %>
</p>

<p>
  <strong>Week:</strong>
  <%= @activity.week %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @activity.shift %>
</p>

<p>
  <strong>Month:</strong>
  <%= @activity.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @activity.year %>
</p>

<p>
  <strong>Supervisor:</strong>
  <%= @activity.supervisor %>
</p>

<p>
  <strong>Summaty:</strong>
  <%= @activity.summaty %>
</p>

<p>
  <strong>Category:</strong>
  <%= @activity.category %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @activity.activity %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @activity.hours %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
